$color-primario:#f3d2aa;
$color-secundario:#eead91;
$color-contraste:#2c261f;
$color-contraste-suave:#8c5c64;

@mixin estado-link($color, $text-decoration){
    color: $color;
    text-decoration: $text-decoration;

}
header{
    background-color: $color-contraste;
    border-bottom: 1px solid $color-contraste-suave;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    color:$color-primario;
    font-size:20px;
    .logo{
    width: 10%;
    max-width :50px;
    height:60px;
    margin: 10px;
    }
        nav{
        font-size: 10px;
        color: $color-primario;
            ul{
                li{
                    display: inline;
                    padding: 10px;
                    font-size: 20px;
                        a{
                        text-decoration:none;
                        &:visited {
                        @include estado-link($color-primario, none);}
                        &:hover {
                        @include estado-link($color-secundario, underline);
                        }

                        }   
                }
            }
        }
}


a:visited {
    @include estado-link($color-primario, none);
}
a:hover {
    @include estado-link($color-secundario, underline);
}


.sidebar{
background-color: $color-contraste-suave;
    border-radius: 9px;
    padding:1rem;
    width: 15%;
    height: 15%;
    color: $color-primario;
    font-size: 20px;
    position: fixed;
    margin: 10px;
}

footer{
    @extend header;
    font-size: small;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;

        div{
            width: 100%;
            max-width: 200px;
            height: 200px;
            align-content: center;

        }

}
