
$color-primario:#f3d2aa;
$color-secundario:#eead91;
$color-contraste:#2c261f;
$color-contraste-suave:#8c5c64;
$color-fondo:#fcf3e8;
@use '_barras.scss';

html,body{
    height: 100%;
    margin: 0;
    font-family: LXGW WenKai Mono TC;
    background-color:$color-fondo;
    font-size: 20px;
    text-align: center;
    .main{
        background-image: url(imagenes/fondonuevo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;               
        display: flex;                  
        flex-direction: column;
        justify-content: center;
        color:$color-secundario;
        text-shadow: 1px 1px 2px $color-contraste;
        font-family: LXGW WenKai Mono TC;
        width: 100%;
        height:100%;
        min-height: 100px;
    }
}

@mixin estilo-titulos($color, $font-size,$text-shadow){
    color: $color;
    font-size: $font-size;
    text-shadow: $text-shadow;
}
.caratula{
    @include estilo-titulos($color-contraste, 500%, 7px 1px 2px $color-primario);
    text-align: left;
    margin: 20px;
    font-weight: bold;
    transition: all 0.5s ease;
    &:hover {
        font-size: 700%;}
}
@media (max-width: 480px) {
    .caratula{
    @include estilo-titulos($color-contraste, 200%, 3px 1px 1px $color-primario);
    font-size: 200%;
    margin: 10px;
    &:hover {
    font-size: 300%;}
    }
}

h2{
    @include estilo-titulos($color-contraste, 300%, 5px 1px 2px $color-primario);
    font-weight: bold;
    text-align: center;
}
h3{
    @include estilo-titulos($color-secundario, 200%, 5px 1px 2px $color-contraste);
    margin: 20px;
    text-align: center;
}

@mixin estilo-imagen($width, $height, $padding, $border-radius){
    width: $width;
    height: $height;
    padding: $padding;
    border-radius: $border-radius;
}
.imgtexto{
    @include estilo-imagen(80%, 350px, 35px, 500px); 
}
.padding{
    padding-left: 10%;
    padding-right: 10%;
}

.servicios-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(3, auto);
    gap:20px; 
    grid-template-areas: 
    "item1 item1 item2"
    "item3 item4 item4"
    "item5 item5 item5";
    padding: 20px;
    color:beige
}

@mixin estilo-item($grid-area, $background-color, $color, $padding){
    grid-area: $grid-area;
    background-color: $background-color;
    color: $color;
    padding: $padding;
}

.item1 {
    @include estilo-item(item1, $color-contraste, $color-primario,20px);
    background-color: #402B22;
}

.item2 {
    @include estilo-item(item2, $color-contraste-suave, $color-contraste, 20px);
}
.item3 {
    @include estilo-item(item3, $color-contraste, $color-primario, 20px);
}
.item4 {
    @include estilo-item(item4, $color-primario, $color-contraste-suave, 20px);
}
.item5 {
    @include estilo-item(item5, $color-contraste, $color-primario, 20px);
}

article img {
    @include estilo-imagen(100%, 200px, 10px, 19px);
    max-width: 200px;
    }


.productos article{
    display: inline-block;

}
.formato-card{
    background-color: #402B22;
    border-radius: 9px;
    padding:10px;
    width: 100%;
    max-width: 300px;
    height: 400px;
    color:#e9dbd5;
    margin: 10px;
        .titulo-card{
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 2px black;
        }
    }
article p{
    font-size: 17px;
    text-align:center;
    margin: 10px;
}

@mixin estilo-historia($grid-template-columns, $background-color, $color, $padding, $margin){
    display: grid;
    grid-template-columns: $grid-template-columns;
    background-color:$background-color;
    color: $color;
    padding:$padding;
    margin: $margin;
}
.historia{
    @include estilo-historia(65% 35%, $color-contraste, $color-primario, 15px, 30px);
    display: grid;
        p{
            padding: 70px;
            font-size: 20px;
        }
    }
.mejor-opcion{
    @include estilo-historia(35% 65%, $color-contraste-suave, $color-primario, 15px, 30px);
    display: grid;
    list-style-type: circle;
    padding-bottom: 15px;
        ul{
            list-style-type:circle;
            padding-top:5%;
            font-weight: bold;
        }
}
.contacto-formulario{
    background-image: url(imagenes/comida.jpg);
    background-size: cover;
    background-position: center;
    padding:10%;
        input, textarea{
            font-size:90% ;
        }
        button{
            font-size: 90%;
            background-color: $color-contraste;
            color: $color-primario;
            border: none;
            border-radius: 9px;
            padding: 10px;
            cursor: pointer;
                &:hover{
                    background-color: $color-contraste-suave;
                    color: $color-primario;
                    border: none;
                    border-radius: 9px;
                    padding: 10px;
                    cursor: pointer;
                }
        }   
    }
.mapa{
    border-radius: 19px;
}
@media (max-width:594px){
    .footer{ 
        flex-direction: column;
        align-items: center;
    }
        footer{ 
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:587px){
    header{ 
        flex-direction: column;
        align-items: center;
    }
    }
@media (max-width:693px){
    .historia{
        display: block;
        text-align: center;
    padding-bottom: 50px;}
    .mejor-opcion{
        display: block;
        text-align: center;
        padding-bottom: 50px;
    }
    .imgtexto{
        padding-bottom: 0px;
    }
    .mejor-opcion ul{
        padding-top: 0px;
    }
    .sidebar {
    position: static;
    width: 100%;
    height: 10%;
    margin: 0;
    text-align: center;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }
    .titulo-card {
        font-size: 20px;
    }
}
